<!-- Step -->
<ul class="step">
  <li class="step-item">
    <div class="step-content-wrapper">
      <span class="step-icon step-icon-soft-primary">
        <img class="step-avatar-img" src="assets/img/icons/new/1.svg" alt="Image Description">
      </span>
      <div class="step-content">
        <h4>Tốt nghiệp công nghệ thông tin</h4>
        <p>Bằng khá<span class="badge badge-pill badge-info ml-2">Cử nhân</span></p>
        <p class="step-text">22/10/2021 - Arena, Hà Nội</p>
      </div>
    </div>
  </li>

  <li class="step-item">
    <div class="step-content-wrapper">
      <span class="step-icon step-icon-soft-primary">
        <img class="step-avatar-img" src="assets/img/icons/new/1.svg" alt="Image Description">
      </span>
      <div class="step-content">
        <h4>Lập trình Web</h4>
        <p>Bằng khá<span class="badge badge-pill badge-info ml-2">Tiến sĩ</span></p>
        <p class="step-text">HTLM, CSS, React, Javascript</p>
      </div>
    </div>
  </li>

  <li class="step-item">
    <div class="step-content-wrapper">
      <span class="step-icon step-icon-soft-primary">
        <img class="step-avatar-img" src="assets/img/icons/new/1.svg" alt="Image Description">
      </span>
      <div class="step-content">
        <h4>Tốt nghiệp công nghệ thông tin</h4>
        <p>Bằng khá<span class="badge badge-pill badge-info ml-2">Cử nhân</span></p>
        <p class="step-text">22/10/2021 - Arena, Hà Nội</p>
      </div>
    </div>
  </li>
</ul>
<!-- End Step -->
