.navbar{
  a{
    margin-right: 24px;
    svg{

    }
  }
  .navbar-search-de{
    .input-group-alternative{
      border: none !important;
      box-shadow: none !important;
      background: none;
    }
  }
}
